html {
	font-size: 16px;
}
  
body {
	font-family: "Raleway";
  }

.wrapper {
	padding: 0px 50px 0px 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 25px;
	grid-template-areas:
	  "header header header"
	  "mini maxi maxi"
}

.header {
	grid-area: header;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 25px;
	grid-template-areas:
	"info graphic"
}

.maxi {
  grid-area: maxi;
  border-left-width: 1px;
  border-left-color: black;
  border-left-style: solid;
  padding-left: 25px;
}

.mini {
  grid-area: mini;  
}

.info {
	grid-area: info;
}

.graphic {
	grid-area: graphic;
}

p {
	font-family: "Raleway";
}
body span {
	font-weight: bolder;
}

h1 {
	font-family: Marck Script;
	font-size: 5rem;
	color: black;
	margin: 25px 0 15px 0;
}

.main-header {
	padding: 0px 0px -25px 0px;
}

h2 {
	font-family: Open Sans;
	font-size: 12 px;
	margin: 5px 0 5px 0;
}

h3 {
	font-size: 10 px;
	font-weight: bold;
}

h3 span {
	font-weight: bolder;
}

h4 {
	font-size: 10 px;
	font-weight: bold;
}

ul {
	font-size: 9 px;
}

.graphic > img  {
	max-height: 40%;
	position: absolute;
	top: 0px;
	right: 150px;
}

.image-box
{
  display: flex;
	justify-content: space between;
	margin: 0 0 25px 0;
}

.image {
  max-height: 150px;
  width: auto;
	display: inline-grid;
	margin: 0 10px 0 0;
}
.image > img {
    max-height: 150px;
    width: auto;
    margin: 0 0 0 0;
 }